{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
	<h1>My Resume</h1>
	<p>Name: {{my_res.get_full_name}}</p>
	<p>Address: {{my_addr}}</p>
	<p>Phone: {{my_phone}}</p>
	<p>Email: {{my_email}}</p>
	<h2>Education</h2>
	<table class="mytb">
		<th>Institution</th>
		<th>Location</th>
		<th>Degree</th>
		<th>Major</th>
		<th>GPA</th>
		{% for education in my_res.get_education %}
		<tr>
			<td>{{education.institution_name}}</td>
			<td>{{education.location}}</td>
			<td>{{education.degree}}</td>
			<td>{{education.major}}</td>
			<td>{{education.gpa}}</td>
		</tr>
		{% endfor %}
	</table>
	<h2>Experience</h2>
	<table class="mytb">
		<th>Title</th>
		<th>Job Title</th>
		<th>Job Functions</th>
		<th>From - End</th>
		<th>Description</th>
		{% for experience in my_res.get_experience %}
		<tr>
			<td>{{experience.title}}</td>
			<td>{{experience.location}}</td>
			<td>{{experience.start_date}}</td>
			<td>{{experience.end_date}}</td>
			<td>{{experience.description}}</td>
		</tr>
		{% endfor %}
	</table>
	<h2>Skills</h2>
	{% for skills in my_skills %}
		<ul>
			<li>{{skills}}</li>
		</ul>

	{% endfor %}
{% endblock %}