{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
    <h1>My Portfolio</h1>
    <ol>
        <li>    
            <a href="https://github.com/Revodavid1/comp830project">Lost in Pandora Game</a>
            <p>Desc: A text adeventure game built with java.</p>
        </li>
        <li>
            <a href="https://github.com/Revodavid1/bitquiz">BitQuiz</a>
            <p>Desc: A multiple choice exam platform built with PHP and JavaScript.</p>
        </li>
    </ol>
{% endblock %}